name: Gittyup Windows Build

on:
  push:
    branches: [ master ]
    tags:
      - 'gittyup_v*'
  pull_request:
  workflow_dispatch:

env:
  IS_RELEASE: ${{ github.event_name == 'push' && github.ref_type == 'tag' && startswith(github.ref_name, 'gittyup_v') }}

jobs:
  build-windows:
    name: Windows x64
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        qt:
          - version: 6.6.0

    steps:
      - name: Set git identity
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

      - name: Configure development build
        if: github.ref_type != 'tag'
        uses: allenevans/set-env@c4f231179ef63887be707202a295d9cb1c687eb9
        with:
          CMAKE_FLAGS: '-DDEV_BUILD="${{ github.ref_name }}"'

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Initialize submodules
        uses: snickerbockers/submodules-init@v4

      - name: Update submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive --force


      - name: Install Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: '5.30'

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        timeout-minutes: 10
        with:
          version: ${{ matrix.qt.version }}
          target: desktop
          host: windows
          arch: win64_msvc2019_64
          install-deps: true
          modules: qtwebengine

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@v4
        with:
          version: 1.11.1
          platform: win
          destination: ninja

      - name: Setup MSVC environment
        uses: seanmiddleditch/gha-setup-vsdevenv@v3
        with:
          arch: x64

      - name: Install NASM
        uses: ilammy/setup-nasm@v1.2.0

      - name: Install Visual Studio components
        uses: microsoft/setup-msbuild@v1

      - name: Bootstrap vcpkg
        run: |
          cd $env:GITHUB_WORKSPACE\vcpkg
          .\bootstrap-vcpkg.bat -disableMetrics

      - name: Export VCPKG_ROOT
        run: echo "VCPKG_ROOT=${{ github.workspace }}\\vcpkg" >> $env:GITHUB_ENV
              
      - name: Setup vcpkg (verbose)
        uses: lukka/run-vcpkg@v11
        with:
          runVcpkgInstall: true
          vcpkgJsonGlob: '**/vcpkg.json'
        env:
          VCPKG_ROOT: ${{ github.workspace }}\vcpkg
          VCPKG_DEFAULT_TRIPLET: x64-windows
          VCPKG_LOG: 1
          VCPKG_VERBOSE: 1


      - name: Configure (Release)
        env:
          CMAKE_RC_FLAGS: "/C 1252"
          CC: clang
          CXX: clang++
        run: |
          mkdir build\release -Force
          cd build\release

          cmake -G Ninja `
            -DCMAKE_BUILD_TYPE=Release `
            -DCMAKE_C_STANDARD=99 `
            -DCMAKE_C_STANDARD_REQUIRED=ON `
            -DUPDATE_TRANSLATIONS=ON `
            -DGITTYUP_CI_TESTS=ON `
            -DUSE_SYSTEM_QT=OFF `
            -DUSE_SYSTEM_LIBSSH2=OFF `
            -DUSE_BUNDLED_ZLIB=1 `
            -DUSE_SSH:STRING=localbuild `
            -DUSE_SYSTEM_OPENSSL=ON `
            -DVCPKG_TARGET_TRIPLET=x64-windows `
            -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake" `
            $env:CMAKE_FLAGS `
            ..\..



      - name: Build information
        run: |
          ninja --version
          git --version
          qmake --version
          cmake --version

      - name: Build + Package
        run: |
          cd build\release
          ninja package

      - name: Run tests
        run: |
          cd build\release
          ninja check_no_win32_offscreen

      - name: Upload Windows artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Gittyup win64
          path: build/release/pack/Gittyup-*
